<!--MAIN SECTION-->

      <!--CONTENT-->
      <div class="posts col-md-9 col-sm-12">
        <!--BREAKING NEWS-->
        <div class="row">
          <div class="breaking col-md-12 col-sm-12">
            <div class="controls">
              <p class="prev"><i class="fa fa-angle-left"></i></p>
              <p class="next"><i class="fa fa-angle-right"></i></p>
            </div>
            <ul class="news">
            <% @reports.each do |post| %>
              <li>
                <span>HOT! </span>
               <%= link_to post.title, post_path(post) %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
        <!--END BREAKING NEWS-->
        <div class="row" style="margin-bottom:0px;">
          <div class="post-slider col-md-8 col-sm-8">
            <div class="controls">
              <p class="prev"><i class="fa fa-angle-left"></i></p>
              <p class="next"><i class="fa fa-angle-right"></i></p>
            </div>
            <%= render 'slide' %>
          </div>
          <%= render 'top' %>
        </div>
        <div class="row" >
          <%= render 'small' %>
          <div id="posts">
            <%= render 'default' %>
          </div>
        </div>
        <%= render 'bottom' %>
      </div>
      <!--END CONTENT-->

      <!--SIDEBAR-->
  
      <!--END SIDEBAR-->
    
<!-- Localized -->