<!DOCTYPE html>
<html>
<head>
  <title>Mygazn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<nav class="clearfix">
		    <a href="" id="menu-button"><i class="fa fa-bars"></i></a>
		    <ul class="menu col-md-9 list-inline">
        		<li><%= link_to 'Home', root_path %></li>
			    <% @categories.each do |post| %>
	        		<li><%= link_to post.name, root_path %></li>
	        	<% end %>
		    </ul>
		    <form class="form-search col-md-3">
		      <div class="input-group">
		        <input type="text" class="search-query form-control" placeholder="Search smth">
			      			<span class="input-group-btn">
			        			<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
			      			</span>
		      </div>
		    </form>
		</nav>
		<%= yield %>
	</div>
</body>
</html>
